{{- $content := .Inner -}}
{{- $op := .Get "operation" -}}
{{- $ex := default $op (.Get "example") -}}
{{- $method := .Get "method" -}}
{{- $endpoint := .Get "endpoint" -}}
{{- $requestPayloadFilename := $ex | printf "api-examples/%s_request.json" -}}
{{- $requestPayload := $requestPayloadFilename | readFile }}
{{- $responsePayloadFilename := $ex | printf "api-examples/%s_response.json" -}}
{{- $responsePayload := $responsePayloadFilename | readFile }}
{{- $status := default "200" (.Get "status") -}}
{{- $expand := default "false" (.Get "expand") -}}

<div class="request-example">
  <div class="re-title">
    <span class="re-action">
      <span class="re-method">{{ $method }}</span>
      <span class="re-endpoint">{{ $endpoint }}</span>
    </span>
    <span class="re-op">
      <a href="https://docs.ix-api.net/latest/#operation/{{ $op }}" target="_blank">
        {{ $op }}
      </a>
    </span>
  </div>
  {{ with $requestPayload }}
  {{- if eq $expand "true" -}}
  <div class="re-payload expanded">
  {{- else -}}
  <div class="re-payload">
  {{- end -}}
    <div class="re-body">
      {{ transform.Highlight . "json" "style=monokailight" }}
    </div>
    <div class="re-body-expand">
      <button class="re-expand-button">Show More</button>
    </div>
  </div>
  {{ end }}
  {{ with $responsePayload }}
  <div class="re-response-title">
    <span class="re-status">Status: {{ $status }}</span>
    <span class="re-type">Content-Type: application/json</span>
    <span class="re-hint">Response</span>
  </div>
  {{- if eq $expand "true" -}}
  <div class="re-payload expanded">
  {{- else -}}
  <div class="re-payload">
  {{- end -}}
    <div class="re-response">
      {{ transform.Highlight . "json" "style=catppuccin-latte" }}
    </div>
    <div class="re-body-expand">
      <button class="re-expand-button">Show More</button>
    </div>
  </div>
  {{ end }}
</div>
