{{- if .Get "disabled" }}
<span class="button disabled">{{ .Inner }}</span>
{{- else }}
<a href="{{ .Get "href" }}"
   {{- with .Get "target" -}}target="{{.}}"{{- end -}}
   class="button">{{ .Inner }}</a>
{{ end }}
