---
title: "Participating IXs"
layout: "plain"
---
<div class="ce-floating-list">
  <div class="container copy">
    <div class="ce-floating-list--inner">

      <!-- AMS-IX -->
      <div class="item">
        <figure>
          <img src="/_extra_res/logos/amsix_Logo_grau.svg"
               class="attachment-full size-full" 
               alt="Logo of AMS-IX" loading="lazy">
          <figcaption>
            <div class="copy">
              <h2 class="highlight">AMS-IX</h2>
              <p>
                <i class="wy-icon wy-icon-mail"></i>
                <a href="mailto:ix-api@ams-ix.net">ix-api@ams-ix.net</a>
                <br />
                <i class="wy-icon wy-icon-web"></i>
                <a href="https://www.ams-ix.net">www.ams-ix.net</a>
              </p>
            </div>
          </figcaption>
        </figure>
      </div>

      <!-- DE-CIX -->
      <div class="item">
        <figure>
          <img src="/_extra_res/logos/de-cix_Logo_grau.svg"
               alt="Logo of DE-CIX"
               class="attachment-full size-full" loading="lazy">
          <figcaption>
            <div class="copy">
              <h2 class="highlight">DE-CIX</h2>
              <p>
                <i class="wy-icon wy-icon-mail"></i> 
                <a href="mailto:api@de-cix.net">api@de-cix.net</a>
                <br />
                <i class="wy-icon wy-icon-web"></i> 
                <a href="https://www.de-cix.net">www.de-cix.net</a>
              </p>
              <p class="p1">
                <span class="s1">
                  DE-CIX API accessible at
                   <a href="https://www.de-cix.net/en/services/de-cix-api">
                     <span class="s2">https://www.de-cix.net/en/services/de-cix-api</span>
                   </a>
                </span>
              </p>
            </div>
          </figcaption>
        </figure>
      </div>

      <!-- Linx -->
      <div class="item">
        <figure>
          <img src="/_extra_res/logos/linx_Logo_grau.svg"
               class="attachment-full size-full"
               alt="Logo of LINX" loading="lazy">
          <figcaption>
            <div class="copy">
              <h2 class="highlight">LINX</h2>
              <p>
                <i class="wy-icon wy-icon-mail"></i>
                <a href="mailto:api@linx.net">api@linx.net</a>
                <br />
                <i class="wy-icon wy-icon-web"></i>
                <a href="https://www.linx.net">www.linx.net</a>
              </p>
              <p class="p1">
                <span class="s1">LINX API v1 accessible at
                  <a href="https://ix-api.linx.net/api/v1" target="_blank">
                    <span class="s2">https://ix-api.linx.net/api/v1</span>
                  </a>
                </span><br />
                <span class="s1">LINX API v2 accessible at
                  <a href="https://ix-api.linx.net/api/v2" target="_blank">
                    <span class="s2">https://ix-api.linx.net/api/v2</span>
                  </a>
                </span>
              </p>
            </div>
          </figcaption>
        </figure>
      </div>

    </div>
  </div>
</div>
