---
title: "Participating IX Customers"
layout: plain
---
<div class="spacer"></div>
<div class="ce-left-right block--gray">
  <div class="container">
    <div class="ce-left-right--inner">
      <div class="left">
        <div class="copy">
          <p><a href="https://www.epsilontel.com/" rel="noopener"
                                                   target="_blank">
            <img loading="lazy"
                 src="/_extra_res/logos/Epsilon_logo-300x72.png"
                 alt="" width="300" height="72" class="aligncenter size-medium" />
          </a></p> </div>
      </div>

      <div class="right">
        <div class="copy">
          <p style="font-family: acumin-pro-thin,sans-serif;font-size: 1.250em;line-height: 1.4em;">
          "Epsilon’s customers and Partners will benefit from faster,
          automated provisioning and improved service visibility when
          connecting to enabled IXs from any of the 220+ data centres
          on our global network."
          </p>
          <p><strong>Mark Daley</strong><br>
          Director, Digital Strategy and Business Development,
          <br>Epsilon Telecommunications,  
          <a target="_blank" href="https://www.epsilontel.com/">www.epsilontel.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ce-left-right">
  <div class="container">
    <div class="ce-left-right--inner">
      <div class="left">
        <div class="copy">
          <p><a target="_blank" rel="noopener" href="https://www.interxion.com/">
            <img loading="lazy"
                 src="/_extra_res/logos/Interxion-Logo-300x52.png"
                 alt="Interxion Logo" width="300" height="52" class="aligncenter size-medium" />
            </a></p>
        </div>
      </div>

      <div class="right">
        <div class="copy">
          <p style="font-family: acumin-pro-thin,sans-serif;font-size: 1.250em;line-height: 1.4em;">
          "Interxion being a partner in this initiative is important
          to us in an effort to automate peering by leveraging common
          standards and delivering frictionless on demand peering
          across multiple markets for customers."
          </p>
          <p>
          <strong>Michael Rabinowitz</strong><br>
          Director Marketing &amp; Strategy, Connectivity, <br>
          Interxion, <a target="_blank" rel="noopener" href="https://www.interxion.com/">www.interxion.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
