{{ define "main" }}
{{ partial "breadcrumb.html" . }}

<div class="container">
  <div class="page-title">
    <h1>{{.Title}}</h1>
  </div>
</div>

<div class="ce-generic-copy">
  <div class="container">
    <div class="ce-generic-copy--inner">
      <div class="copy press">
        {{ range .Pages }}
          {{ partial "press/post" . }}
        {{ end }}
      </div> 
    </div>
  </div>
</div>

{{ end }}
