<div class="container">
<div class="breadcrumb-element">
<p id="breadcrumbs">
  <span><span>
      <a href="/">Home</a> ›
      {{- with .Parent }}
         {{- if .Parent }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a> ›
         {{ end}}
      {{ end }}
      <span class="breadcrumb_last" aria-current="page">{{ .Page.Title }}</span>
  </span></span></p> 
</div>
</div>
