<div class="footer-decoration"></div>
<footer class="footer">
  <div class="footer-inner">
    <div class="container">

      <div class="left">
        <div class="footer-widget">
          {{- $logoWhite := resources.Get "images/ix-api-white.svg" -}}
           <div>
             <img src="{{ $logoWhite.RelPermalink }}"
                  class="image wp-image-43 attachment-full size-full"
                  alt="IX-API"
                  loading="lazy"
                  style="max-width: 100%; height: auto;" />
           </div>
         </div>
      </div>

      <div class="right">
        <nav class="footer-nav">
          <div class="menu-main-container">
            <ul class="menu">
              <li class="menu-item"><a href="/">Home</a></li>
              <li class="menu-item"><a href="/api-documentation/">API Documentation</a></li>
              <li class="menu-item"><a href="/use-cases">Getting Started</a></li>
              <li class="menu-item"><a href="/about-ix-api/">About IX-API</a></li>
            </ul>
          </div>
        </nav>
      </div>

    </div>
  </div>
</footer>
