<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />

  {{ with resources.Get "/ix-api/style/base.css" | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" >
  {{ end }}
  {{ with resources.Get "/ix-api/style/fixes.css" | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" />
  {{ end }}
    
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} - {{ end }}{{ .Site.Title }}{{ end }}</title>

    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    {{ hugo.Generator }}
    {{/* NOTE: For Production make sure you add `HUGO_ENV="production"` before your build command */}}
  {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  {{ else }}
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  {{ end }}

{{ with resources.Get "/ix-api/icons/cropped-favicon-1-32x32.png" -}}
<link rel="icon" href="{{.RelPermalink}}" sizes="32x32" />
{{ end }}
{{ with resources.Get "/ix-api/icons/cropped-favicon-1-192x192.png" -}}
<link rel="icon" href="{{.RelPermalink}}" sizes="192x192" />
{{ end }}
{{ with resources.Get "/ix-api/icons/cropped-favicon-1-180x180.png" -}}
<link rel="apple-touch-icon" href="{{.RelPermalink}}" />
{{ end }}
{{ with resources.Get "/ix-api/icons/cropped-favicon-1-270x270.png" -}}
<meta name="msapplication-TileImage" content="{{ .Permalink }}" />
{{ end }}

{{ $jsMain := resources.Get "/ix-api/scripts/main.js" | js.Build "main.js" | resources.Minify | resources.Fingerprint}}
<script src="{{ $jsMain.RelPermalink }}" defer></script>

</head>
