<header class="header container">
  <div class="header-inner">
    <button class="menu-accessor">☰</button>

    <div class="brandline">
      <a href="/">
        {{- $logo := resources.Get "images/logo.svg" -}}
        <img src="{{ $logo.RelPermalink }}" alt="IX-API Logo" title="IX-API" />
      </a>
    </div>
  </div>


  <nav class="main-nav">
    <div class="menu-main-container">
      {{ partial "menu.html" . }}
    </div>
  </nav>
</header>
