
<!-- Home -->
<ul id="menu-main" class="menu"><li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-58 current_page_item menu-item-123"><a href="/" aria-current="page">Home</a></li>

<!-- How It Works -->
<li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-124"><a href="/how-it-works/">How it works</a>
<ul class="sub-menu">
	<li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="/how-it-works/benefits/">Benefits</a></li>
	<li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="/how-it-works/getting-started/">Getting started</a></li>
	<li id="menu-item-204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204"><a href="/how-it-works/glossary/">Glossary</a></li>
</ul>
</li>

<!-- API Documentation -->
<li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127"><a href="/api-documentation/">API Documentation</a>
<ul class="sub-menu">
	<li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174">
    <a target="_blank" rel="noopener" href="https://gitlab.com/ix-api/ix-api-sandbox-v2">API Sandbox</a></li>

	<li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-176">
    <a target="_blank" rel="noopener" href="https://docs.ix-api.net/">All OpenAPI Specifications</a></li>
	<li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-176">
    <a target="_blank" rel="noopener" href="https://docs.ix-api.net/latest/">Latest OpenAPI Specification</a></li>
	<li id="menu-item-177" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-177">
    <a target="_blank" rel="noopener" href="https://docs.ix-api.net/latest/schema.json">Latest OpenAPI Specs Download JSON</a></li>
	<li id="menu-item-178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-178">
    <a target="_blank" rel="noopener" href="https://docs.ix-api.net/latest/schema.yml">Latest OpenAPI Specs Download YAML</a></li>
</ul>
</li>

{{ if false }}
<li id="menu-item-300" class="menu-item menu-item-has-children">
	<a href="/#">Extensions</a>
	<ul class="sub-menu">
		<li id="menu-item-301">
			<a href="https://documenter.getpostman.com/view/7553094/UyxkkkgC" target="_blank">DE-CIX CloudROUTER</a>
		</li>
	</ul>

</li>
{{ end }}

<li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-133"><a href="/about-ix-api/">About IX-API</a>
<ul class="sub-menu">
	<li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="/about-ix-api/background-story/">Background story</a></li>
	<li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a href="/about-ix-api/participating-ixs/">Participating IXs</a></li>
	<li id="menu-item-136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"><a href="/about-ix-api/participating-ix-customers/">Participating IX customers</a></li>
	<li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a href="/about-ix-api/ix-api-board-and-governance-model/">IX-API Board and Governance Model</a></li>
	<li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138"><a href="/about-ix-api/licensing/">Licensing</a></li>
	<li id="menu-item-202" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-202"><a href="/about-ix-api/press/">Press</a></li>
	<li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="/about-ix-api/contact/">Contact</a></li>
</ul>
</li>
</ul>
