<ul class="main-nav menu-main">
{{ $currentPage := . }}
{{ range .Site.Menus.main }}
  {{- $hidden := false -}}
  {{- $children := slice -}}
  {{- $childAnchors := false -}}
  {{ with .Page }} 
    {{ $hidden = .Param "hidden" }}
    {{ $children = sort .RegularPages "File.Path" }}
    {{ $childAnchors = .Param "submenu_anchors" }}
  {{ end }}
  {{ if not $hidden }}
  <li>
    {{if eq $currentPage .Page }}
    {{ end }}
    <a href="{{ .URL }}">
    {{ .Pre }}
    <span>{{ .Name }}</span>
    </a>
    <ul class="sub-menu">
    {{ range $children }}
    {{- $link := .RelPermalink -}}
    {{ if $childAnchors }}
      {{- $link = printf "%s#%s" (.Parent.RelPermalink) (anchorize .Title) -}}
    {{- end -}}
      <li>
        <a href="{{ $link }}">{{ .Name }}</a>
      </li>
    {{ end }}
    {{- with .Page }}{{- with .Param "menu_extra" }}
      {{ range . }}
      <li>
        <a href="{{ .url }}"
           {{- if hasPrefix .url "http" }} target="_blank" {{ end }}
          >{{ .title }}</a>
      </li>
      {{ end }}
    {{ end }}{{end}}
    </ul>
  </li>
  {{ end }}
{{ end }}

  <li class="menu-item menu-item-has-children">
    <a href="/">Extensions</a>
    <ul class="sub-menu">
      <li>
        <a href="https://documenter.getpostman.com/view/7553094/UyxkkkgC" target="_blank">DE-CIX Cloud ROUTER</a>
      </li>
    </ul>
  </li>
</ul>


