{{ define "main" }}
{{ partial "breadcrumb.html" . }}

{{- $sections := sort .RegularPages "File.Path" -}}

<div class="ce-generic-copy">
  <div class="container">
    <div class="content">

      {{ partial "use-cases/shortcuts.html" $sections }}

      <div class="copy use-cases">
        {{ range $sections }}
          {{ partial "use-cases/section" . }}
        {{ end }}
      </div> 
    </div>
  </div>
</div>

{{ end }}
