<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="page page-{{ .Title | urlize }}">
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        <div class="u-indicator-mobile"></div>
        <div class="u-indicator-tablet"></div>
        <div class="u-indicator-desktop"></div>
        <div class="u-indicator-wide"></div>
    </body>
</html>
