{{ define "main" }}

<div class="ce-hero">
  <div class="container container-flex">
    
    <div class="main-hero">
      <div class="content-hero">
        <div class="copy">
          {{ with site.GetPage "home/welcome" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
      <figure>
        {{ partial "imgAsset.html" 
        (dict "src" "images/stock2.jpg"
        "alt" "Three people with laptops sitting around a table") }}
      </figure>
    </div>
    
    <div class="ce-aside">
      <div class="cta">
        <div>
         <a href="https://join.slack.com/t/ix-api/shared_invite/zt-1tfo0e4gj-ZZQh6CQ7jlh3EwbdL~uGsQ" target="_blank" class="button">Join our Slack</a>
        </div>
        <div>
         <a href="https://gitlab.com/ix-api/ix-api-schema/-/issues" target="_blank" class="button">View GitLab Issues</a>
        </div>
        <div>
         <a href="https://lists.ix-api.net/mailman3/lists/?all-lists" target="_blank" class="button">Subscribe to our MailingLists</a>
        </div>
      </div>
      <hr />
      <div class="copy changelog">
      {{ with site.GetPage "home/changelog" }}
        {{ .Content }}
      {{ end }}
      </div>
    </div>

  </div>
</div>

<!-- Section -->
<div class="ce-left-right block--gray">
  <div class="container">
    <div class="ce-left-right--inner">
      <div class="left">
        <div class="copy">
          {{ with site.GetPage "home/benefits" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
      <div class="right">
        <div class="copy">
          <p style="text-align: center;">
          <img class="alignnone wp-image-258 size-full"
               src="{{(resources.Get "images/stock3.svg").RelPermalink}}"
               alt="A stylized computer screen with a process" width="300" />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ce-left-right">
  <div class="container">
    <div class="ce-left-right--inner">
      <div class="left">
        <div class="copy">
          <p>
          {{ partial "imgAsset.html" 
          (dict "src" "images/stock4.jpg"
          "alt" "Three people without laptops sitting around a table in cheerful discussion.") }}
          </p>  
        </div>
      </div>
      <div class="right">
        <div class="copy">
          {{ with site.GetPage "home/community" }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ce-columns block--gray vertical-align">
  <div class="container">
    <div class="ce-columns--inner">
      <div style="width: 20%" class="column">
        <div class="copy">
        </div>
      </div>
      <div style="width: 20%" class="column">
        <div class="copy">
          <p>
          <img class="size-full aligncenter" src="/_extra_res/logos/amsix_Logo_grau.svg" alt="amsix" width="100" /></p>
        </div>
      </div>
      <div style="width: 20%" class="column">
        <div class="copy">
          <p><img class="size-full wp-image-142 aligncenter" 
                  src="/_extra_res/logos/de-cix_Logo_grau.svg" alt="DE-CIX" width="100" /></p>
        </div>
      </div>
      <div style="width: 20%" class="column">
        <div class="copy">
          <p><img class="size-full wp-image-143 aligncenter"
                  src="/_extra_res/logos/linx_Logo_grau.svg" alt="Linx" width="150" /></p>
        </div>
      </div>
      <div style="width: 20%" class="column">
        <div class="copy">
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
