
body {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   min-height: 100vh;
}

.page {
  flex: 1 0;
}

@media(min-width: 980px) {
  .page .header {
    padding-top: 32px;
  }
}

/* The menu does not contain javascript */
.menu-main > .sub-menu {
  display: block;
}

.main-nav.main-nav--open,
.main-nav.main-nav--open .menu-main {
  display: block;
}

.menu-main > li:hover ul {
  display: block;
}

.copy h2 {
  color: #00DCFF;
}

.container .copy h3 {
  text-transform: none;
}

.container .content {
  padding: 20px;
}

.spacer {
  height: 4em
}

.copy hr {
  border: 0;
  border-bottom: 1px solid #bbb;
  border-style: dashed;
  width: 75%;
  margin: 4em auto;
}

.page-glossary .copy ul {
   list-style-type: none; 
}

.page-glossary .copy h3 {
  text-transform: none;
  font-weight: bold;
  font-size: 1em;
}

.container-flex {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.container-flex .main-hero {
  padding: 0px 20px;
  min-height: 500px;
  position: relative;
  flex: 1 0 60%;
}


.container-flex .ce-aside {
  padding: 0px 20px;
  flex: 1 1 30%;
}

@media(min-width: 980px) {
  .container-flex .main-hero {
    
  }
  .container-flex .ce-aside {
    padding: 0px 0px;
  }
  .main-hero figure {
    position: relative;
    z-index: -9999;
    margin-top: -100px;
  }
}



.ce-aside hr {
 border: none;
 border-bottom: 1px dashed #ccc; 
 margin: 20px 60px; 
 padding-top: 10px;
}

.ce-aside > h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.changelog h1 {
  display: none;
}

.changelog h2 {
  font-size: 1.33rem;
  padding: 0px; 
  margin: 0px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
 font-family: monospace;
 font-weight: bold;
}

.changelog {
 font-family: monospace;
 font-weight: normal;
}

.changelog ul {
  margin: 0;
  margin-left: 10px;
}

.changelog code {
  font-weight: bold;
}

.ce-hero .cta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px -10px;
  gap: 10px;
}

.ce-hero .cta div {
 flex-basis: fit-content !important;
 display: flex;
 flex: 1 1;
 border-radius: 10px;
 background: #eee;
}

.page-ix-api .copy .button {
 font-weight: bold;
 text-shadow: 0px -1px 1px #acacac;
 color: #ffffff;
 font-size: 1rem;
 line-height: 1rem;
}

.ce-hero .cta .button {
 flex: 1;
 display: block;
 margin: 10px;
 padding: 10px :0px;
 font-weight: bold;
 font-size: 1rem;
 text-shadow: 0px -1px 1px #acacac;
 /* background-image: linear-gradient(159deg, #BEF002 0%, #ff00b1 100%); */
 background-image: linear-gradient(159deg, #ffe000 0%, #ff2bb1 100%);
}

.copy .button {
  margin: 0.25em 1em 0.25em 0;
}

.copy .button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.copy.press article .date {
  margin: 0;
  padding: 0;
}

.copy.press article h1 {
  font-size: 1.5em;
  color: #00DCFF;
  margin-top: 0.25em;
}

.copy.press article .date {
  font-weight: bold;
}

.copy.press article h1 a {
  color: #00DCFF;
  text-decoration: none;
}

/**
 * Use-Cases shortcuts
 */
.use-cases-shortcuts {
  margin: 2rem 0;
}

.use-cases-shortcuts ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.use-cases-shortcuts li {
  margin: 10px 0px;
}

.use-cases-shortcuts li a {
  background: #eee;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0px;

  color: #3f6b97;
  font-size: 0.9rem;
  font-weight: bold;
  text-shadow: 0px 1px 1px #fff;
}

.use-cases-shortcuts li a:hover {
  background: #3f6b97;
  text-shadow: none;
  color: #fff;

  transition: all 0.2s ease-in-out;
}

.use-cases code {
  font-family: monospace;
  font-weight: bold;
  word-break: break-all;
}

.use-cases article {
}

.use-cases .split {
  display: flex;
  flex-wrap: wrap;
  gap: 0 3rem;
}

.use-cases .split .split-content {
  flex: 1 0 50%;
}

.use-cases .split .split-aside {
  flex: 1 1 400px;
}

.use-cases article p {
  max-width: 85ch;
}


.use-cases ol {
  margin-left: 2.5em;
}

.request-example {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.request-example .re-title {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 10px;
  background: #eee;
  border-bottom: 1px solid #ddd;
}

.request-example .re-action {
  flex: 1 0; 
  font-family: monospace;
  font-weight: bold;
}

.request-example .re-body {
  background: #fafafa;
  padding: 10px;
  overflow: hidden;
  height: 130px;
}

.request-example .re-payload {
  position: relative;
}

.request-example .re-payload.expanded .re-body,
.request-example .re-payload.expanded .re-response {
  height: auto;
}

.request-example .re-payload.expanded .re-body-expand {
  display: none;
} 

.request-example .re-response {
  background: #eff1f5; 
  padding: 10px;
  overflow: hidden;
  height: 200px;
}

.request-example .re-response-title {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 6px 10px;
  background: #eee;
  font-family: monospace;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.request-example .re-status {
  margin-right: 15px;
  flex: 0 0;
  font-weight: bold;
}
.request-example .re-type {
  flex: 1 0;
  font-weight: bold;
}

.request-example .re-hint {
  flex: 0;
}

.re-body-expand {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 35px;
  backdrop-filter: blur(5px);
  border-top: 1px solid #ddd;
  /*/ box-shadow: 0px -5px 10px rgba(0,0,0,0.1); */
  display: flex;
}

.re-body-expand button {
  flex: 1 0;
  /* border: 1px solid red; */
  border: none;
  background: none;
  font-weight: bold;
  font-size: 0.8rem;
  color: #3f6b97;
  text-shadow: 0px 1px 1px #fff;
  cursor: pointer;
}

.re-payload .highlight pre {
  white-space: break-spaces;
}

.ce-hero .changelog a,
.ce-hero .changelog a:hover {
  color: #3f6b97;
  transform: none;
  display: inline;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 1px 1px #fff;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

